body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{
    margin: 0;
    padding: 0;
}
body, div, label, dl, dt, dd, ul, ol, li, pre, code, form, input, p, blockquote, th, td, img{
    border: none;
    outline: none;
    list-style: none;
}
body{
    font-size: 12px;
}
a{
    text-decoration: none;
    &:visited, &:link{
        color: inherit;
    }
}
img{
    vertical-align: middle;
}
h1, h2, h3, h4, h5{
    font-weight: normal;
}
