.top, .mid, .nav, .banner, .brandship_title, .brandship_list, .hotstore_title, .hotstore_list, .oversealife_title, .oversealife_list, .hotitems_title, .hotitems_tab, .hotitems_list, .shoppingmall_title, .shoppingmall_list, .goodstitle, .goods, .promotion_title, .promotion_box{
    width: 1210px;
    margin: 0 auto;
}
.clearfloat{
    clear: both;
    height: 0px;
    width: 100%;
}

//top
.topbg{
    background: #f2f2f2;
    .top{
        height: 30px;
        color: #666666;
        a{
            color: #666666;
            &:hover{
                color: #B18148;
            }
        }
        i{
            position: absolute;
            right: 0;
            top: 3px;
            height: 11px;
            border-right: 1px solid #dfdfdf;
        }
        .left{
            float: left;
            margin-top: 7px;
            padding-left: 3px;
            li{
                float: left;
                &:nth-of-type(1){
                    background: url(../images/icon/home.png) no-repeat;
                    text-indent: 20px;
                    padding-right: 16px;
                    margin-right: 18px;
                    position: relative;
                }
                &:nth-of-type(2){
                    b{
                        width: 17px;
                        height: 30px;
                        display: inline-block;
                        float: left;
                        background: url(../images/icon/share01.png) no-repeat -355px -344px;
                    }
                }
            }
        }
        .right{
            float: right;
            li{
                box-sizing: border-box;
                float: right;
                position: relative;
                padding-top: 7px;
                height: 30px;
                i{
                    top: 10px;
                }
                &:nth-of-type(5){
                    padding-right: 20px;
                    margin-right: 20px;
                    a:hover{
                        color: #CF0300;
                    }
                }
                &:nth-of-type(4){
                    padding-right: 18px;
                    background: url(../images/icon/youli.gif) no-repeat -2px 0px;
                    text-indent: 26px;
                }
                &:nth-of-type(3){
                    box-sizing: border-box;
                    width: 137px;
                    border-left: 1px solid #f2f2f2;
                    border-right: 1px solid #f2f2f2;
                    position: relative;
                    padding-left: 20px;
                    padding-right: 43px;
                    margin-right: 20px;
                    background: url(../images/icon/share01.png) no-repeat -249px -435px;
                    cursor: pointer;
                    &:hover{
                        background: url(../images/icon/share01.png) no-repeat -249px -464px #FEFEFE;
                        border-left: 1px solid #dfdfdf;
                        border-right: 1px solid #dfdfdf;
                        .my5lux{
                            color: #CF0300;
                            &:hover{
                                color: #B18148;
                            }
                        }
                        dl{
                            display: flex;
                        }
                    }
                    dl{
                        z-index: 9;
                        background: #ffffff;
                        box-sizing: border-box;                        
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        left: -1px;
                        top: 30px;
                        width: 137px;
                        height: 150px;
                        border: 1px solid #dfdfdf;
                        border-top: none;
                        a{
                            color: #666666;
                            &:hover{
                                color: #CF0300;
                            }
                        }
                        dd{
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                }
                &:nth-of-type(2){
                    padding-right: 18px;
                }
                &:nth-of-type(1){
                    position: relative;
                    box-sizing: border-box;
                    width: 132px;
                    padding-left: 18px;
                    padding-right: 52px;
                    border-left: 1px solid #f2f2f2;
                    border-right: 1px solid #f2f2f2;
                    cursor: pointer;
                    background: url(../images/icon/share01.png) no-repeat -205px -368px;
                    &:hover{
                        background: url(../images/icon/share01.png) no-repeat -205px -403px #FEFEFE;
                        border-left: 1px solid #dfdfdf;
                        border-right: 1px solid #dfdfdf;
                        a{
                            color: #CF0300;
                        }
                        dl{
                            display: flex;
                        }
                    }
                    dl{
                        z-index: 9;
                        background: #ffffff;
                        position: absolute;
                        box-sizing: border-box;
                        width: 132px;
                        height: 148px;
                        border: 1px solid #dfdfdf;
                        border-top: none;
                        display: none;
                        flex-direction: column;
                        align-items: center;
                        left: -1px;
                        top: 30px;
                        img{
                            width: 106px;
                        }
                        span{
                            font-size: 16px;
                            color: #d00000;
                        }
                    }
                }
            }
            
        }
    }
}

//mid
.mid{
    height: 110px;
    position: relative;
    overflow: hidden;
    .logo{
        float: left;
        display: block;
        img{
            display: block
        }
    }
    .yijian{
        float: left;
        display: block;
        margin-left: 47px;
        margin-top: 14px;
        img{
            display: block
        }
    }
    .search{
        overflow: hidden;
        position: absolute;
        left: 485px;
        top: 36px;
        form{
            .in_con{
                width: 343px;
                padding: 2px 2px;
                background: #c69c6d;
                height: 34px;
                .search_input{
                    color: gray;
                    width: 260px;
                    height: 34px;
                    line-height: 34px;
                    vertical-align: middle;
                    border: none;
                    background: #fff;
                    padding-left: 3px;
                    float: left;
                }
                .search_btn{
                    width: 80px;
                    height: 34px;
                    border: none;
                    float: left;
                    color: #fff;
                    font-size: 15px;
                    cursor: pointer;
                    background: none;
                }
            }
            ul{
                clear: both;
                li{
                    display: inline-block;
                    float: left;
                    color: #999;
                    font-size: 11px;
                    padding-right: 25px;
                    line-height: 32px;
                    a{
                        color: #999;
                        &:hover{
                            color: #CF0300;
                        }
                    }
                }
            }
        }
    }
    .cart{
        position: absolute;
        right: 10px;
        top: 35px;
        dl{
            width: 290px;
            background: #fff;
            position: relative;
            dt{
                width: 94px;
                height: 32px;
                line-height: 32px;
                text-indent: 45px;
                border: 1px solid #ccc;
                box-shadow: 0 0 2px rgba(0,0,0,0.2);
                position: relative;
                float: right;
                color: #666;
                background: url(../images/icon/share01.png) no-repeat -376px -405px;
                img{
                    vertical-align: middle;
                    position: absolute;
                    left: 10px;
                    top: 2px;
                }
                span{
                    color: #d00000;
                }
            }
        }
    }
    a{
        display: block;
        .overseaenter{
            position: absolute;
            top: 35px;
            right: 123px;
            width: 200px;
            height: 30px;
            background: url(../images/overseadef.jpg) no-repeat;
            background-size: 100% 100%;
        }
    }
}

//nav
.navbg{
    background: url(../images/nav.png) repeat;
    .nav{
        height: 38px;
        position: relative;
        .menu{
            clear: both;
            height: 40px;
            width: 1210px;
            margin: 0 auto;
            position: relative;
            li{
                display: inline-block;
                float: left;
                z-index: 20;
                font-size: 14px;
                text-align: center;
                font-family: "微软雅黑";
                height: 40px;
                line-height: 40px;
                a{
                    display: block;
                    width: 82px;
                    height: 38px; 
                    color: #c8a985;
                    &:hover{
                        color: #fff;
                    }
                }
                &:nth-of-type(1) a{
                    width: 130px;
                    background: url(../images/icon/share03.png) -8px -215px no-repeat;
                    font-size: 14px;
                    font-weight: bold;
                    height: 38px;
                    color: #fff;
                    display: inline-block;
                }
                &:nth-of-type(11) i{
                    display: inline-block;
                    float: left;
                    width: 19px;
                    height: 40px;
                    line-height: 40px;
                    background: url(../images/icon/share02.png) no-repeat -58px -169px;
                    margin-left: 23px;
                }
                &:nth-of-type(11):hover i{
                    background-position: -366px -252px;
                }
            }
        }
        .icon{
            position: absolute;
            right: 15px;
            top: 0;
            height: 40px;
            line-height: 40px;
            overflow: hidden;
            li{
                float: left;
                margin-right: 12px;
                width: 30px;
                overflow: hidden;
                div{
                    width: 200px;
                    overflow: hidden;   
                    a{
                        height: 40px;
                        display: inline-block;
                        span{
                            display: inline-block;
                            width: 30px;
                            height: 40px;
                            line-height: 40px;
                            float: left;
                            margin-right: 3px;
                        }
                    }
                }
                &:nth-of-type(1) span{
                    background: url(../images/icon/share02.png) no-repeat -237px -66px;
                }
                &:nth-of-type(2) span{
                    background: url(../images/icon/share02.png) no-repeat -296px -66px;
                }
                &:nth-of-type(3) span{
                    background: url(../images/icon/share02.png) no-repeat -354px -66px;
                }
            }
        }
        a .overseaslogo{
            position: absolute;
            top: 0;
            line-height: 38px;
            overflow: hidden;
            right: 144px;
            width: 100px;
            height: 38px;
            background: url(../images/icon/overseaslogo.gif) no-repeat;
            background-size: 100% 100%;
        }
    }
}

//banner
.bannerbg{
    overflow: hidden;
    .banner{
        height: 520px;
        position: relative;
        .bannerauto{
            width: 1000px;
            margin: 0 auto;
            position: relative;
            .templateleft{
                position: absolute;
                top: 200px;
                left: 0;
                cursor: pointer;
                z-index: 1;
            }
            .templateright{
                position: absolute;
                top: 200px;
                right: 0;
                cursor: pointer;
                z-index: 1;
            }
        }
        
        ol{
            height: 16px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -96px;
            background: rgba(0,0,0,0.2);
            border-radius: 10px;
            z-index: 1;
            li{
                width: 12px;
                height: 12px;
                display: block;
                float: left;
                margin: 2px 6px;
                background-color: #fff;
                border-radius: 50%;
            }
            .active{
                background: red;
            }
        }
        
        ul{
            background: #000;
            height: 520px;
            position: relative;
            opacity: 1;
            li{
                display: inline-block;
                position: absolute;
                @for $i from 1 through 9{
                    &:nth-of-type(#{$i}){
                        left: (-88 + 1440 * ( $i - 1 )) + px;
                    }
                }
                img{
                    display: block;
                }
            }
        }
    }
}

//brandship_title
.brandship_title{
    margin-top: 40px;
    margin-bottom: 28px;
}

//brandship_list
.brandship_list{
    li{
        float: left;
        position: relative;
        margin-right: 10px;
        a{
            img{
                display: block;
                width: 234px;
            }
            div{
                position: absolute;
                bottom: 1px;
                left: 30px;
                width: 174px;
                height: 154px;
                overflow: hidden;
                z-index: 1;
                .brand_hider{                                   
                    background: #fff;
                    width: 106px;
                    height: 154px;
                    position: absolute;
                    top: 100px;
                    left: 0px;
                    padding: 0 34px 0 34px;
                    img{
                        display: block;
                        width: 60px;
                        margin: 0 auto;
                        margin-top: 10px;
                        margin-bottom: 3px;
                    }
                    p{
                        font-size: 14px;
                        text-align: center;
                        color: #474747;
                        margin-bottom: 5px;
                        &:nth-of-type(1){
                            height: 30px;
                            line-height: 30px;
                            position: relative;
                            span{
                                display: inline-block;
                                width: 20px;
                                height: 2px;
                                background: #000;
                                position: absolute;
                                top: 0px;
                                left: 43px;
                            }
                        }
                    }
                }
            }
        }
        &:nth-of-type(5){
            margin-right: 0px;
        }
    }
}

//hotstore_title
.hotstore_title{
    img{
        float: left;
    }
    div{
        float: right;
        padding-top: 23px;
        padding-right: 15px;
        span{
            display: inline-block;
            width: 8px;
            height: 15px;
            cursor: pointer;
            &:nth-of-type(1){
                background: url(../images/icon/share02.png) no-repeat -160px -384px;
            }
            &:nth-of-type(2){
                background: url(../images/icon/share02.png) no-repeat -180px -384px;
                margin-left: 20px;
            }
        }
    }
}

//hotstore_list
.hotstore_list{
    height: 180px;
    position: relative;
    overflow: hidden;
    ul{
        float: left;
        width: 1210px;
        li{
            position: relative;
            float: left;
            width: 107px;
            height: 55px;
            padding: 14px 29px;
            border: 1px solid #dfdfdf;
            margin-right: 6px;
            margin-bottom: 7px;
            &:nth-of-type(7){
                margin-right: 0;
            }
            &:nth-of-type(14){
                margin-right: 0;
            }
            img{
                width: 107px;
                height: 54px;
            }
            .hotmiddle{
                position: absolute;
                left: 29px;
                top: 14px;
                opacity: 0;
                width: 107px;
                height: 42px;
                padding-top: 12px;
                background: #fff;
                a{
                    p{
                        font-size: 18px;
                        text-align: center;     
                        &:hover{
                            color: #B18148;
                        }
                    }
                    .line{
                        text-align: center;
                        margin-top: 5px;
                        position: relative;
                        span{
                            display: inline-block;
                            width: 20px;
                            height: 2px;
                            background: #000;
                            position: absolute;
                            top: 0;
                            left: 43px;
                        }
                    }
                }
            }
            .topline{
                width: 0;
                height: 1px;
                position: absolute;
                top: -1px;
                left: 0;
                background: #000;
            }
            .rightline{
                width: 1px;
                height: 0;
                position: absolute;
                bottom: -1px;
                right: -1px;
                background: #000;
            }
            .bottomline{
                width: 0;
                height: 1px;
                position: absolute;
                bottom: -1px;
                right: 0;
                background: #000;
            }
            .leftline{
                width: 1px;
                height: 0;
                position: absolute;
                top: -1px;
                left: -1px;
                background: #000;
            }
        }
    }
}

//oversealife_list
.oversealife_list{
    li{
        list-style: none;
        float: left;
        margin-right: 10px;
        position: relative;
        overflow: hidden;
        &:nth-of-type(4){
            margin-right: 0;
        }
        a i{
            position: absolute;
            left: -402px; 
            top: 0;
            width: 313px;
            height: 393px;
            background-image: linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
            background-image: -moz-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
            background-image: -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
            background-image: -o-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
            background-image: -ms-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.7), rgba(255,255,255,0));
            transform: skewx(-25deg);
            -o-transform: skewx(-25deg);
            -moz-transform: skewx(-25deg);
            -webkit-transform: skewx(-25deg);
            cursor: pointer;
        }
    }
}

//hotitems_tab
.hotitems_tab{
    overflow: hidden;
    margin-bottom: 15px;
    li{
        background-color: rgb(153, 153, 153);
        float: left;
        width: 398px;
        height: 30px;
        background: #999;
        color: #fff;
        line-height: 30px;
        text-align: center;
        font-size: 14px;
        margin-right: 8px;
        &:nth-of-type(3){
            margin-right: 0;
        }
    }
    .active{
        background-color: rgb(0, 0, 0);
    }
}

//hotitems_list
.hotitems_list{
    overflow: hidden;
    height: 517px;
    position: relative;
    ul{
        width: 9999px;
        position: absolute;
        left: 0;
        li{
            overflow: hidden;
            float: left;    
            .hotitems_left{
                float: left;
            }
            .hotitems_right{
                float: left;
                margin-left: 9px;
                .hotitems_top{
                    overflow: hidden;
                    margin-bottom: 8px;
                    .hotitems_toptext{
                        left: 0;
                        font-size: 13px;
                        color: #666;
                        display: inline-block;
                        position: relative;
                        p{
                            margin-top: 5px;
                            margin-bottom: 3px;
                            &:nth-of-type(1){
                                color: black;
                            }
                        }
                    }
                    .hotitems_top1{
                        width: 222px;
                        height: 248px;
                        text-align: center;
                        border: 1px solid #ccc;
                        overflow: hidden;
                        float: left;
                        .hotitems_toppic{
                            position: relative;
                        }
                        img{
                            width: 150px;
                        }
                        &:nth-of-type(1){
                            margin-right: 8px;
                        }
                    }
                    .hotitems_top2{
                        overflow: hidden;
                        border: 1px solid #ccc;
                        text-align: center;
                        width: 367px;
                        height: 248px;
                        float: left;
                        margin-right: 7px;
                        .hotitems_toptext{
                            float: left;
                            font-size: 13px;
                            margin-top: 20px;
                            margin-left: 70px;
                            color: #666;
                            display: inline-block;
                            position: relative;
                        }
                        .hotitems_toppic{
                            float: left;
                            width: 180px;
                            margin-top: 28px;
                        }
                        img{
                            width: 180px;
                        }
                    }
                }
                .hotitems_bottom{
                    overflow: hidden;
                    img{
                        width: 150px;
                    }
                    .hotitems_bottom1{
                        margin-right: 7px;
                        border: 1px solid #ccc;
                        float: left;
                        width: 271px;
                        height: 255px;
                        overflow: hidden;
                        text-align: center;
                        &:nth-of-type(3){
                            margin-right: 0;
                        }
                        .hotitems_toptext{
                            left: 0;
                            font-size: 13px;
                            display: inline-block;
                            position: relative;
                            p{
                                margin-top: 5px;
                                margin-bottom: 3px;
                                color: black;
                            }
                        }
                        .hotitems_toppic{
                            position: relative;
                        }
                    }
                }
            }
            &:nth-of-type(3){
                margin-left: 4px;
                .hotitems_3li{
                    width: 398px;
                    display: inline-block;
                    height: 520px;
                    overflow: hidden;
                    position: relative;
                    margin-left: 5px;
                    &:nth-of-type(1){
                        margin-left: 0;
                    }
                    dl{
                        dd{
                            width: 100%;
                            display: block;
                            height: 520px;
                            overflow: hidden;
                        }
                        
                    }
                }
                .hotitems_3li_two{
                    clear: both;
                    float: none;
                    padding-bottom: 10px;
                    position: relative;
                    dl{
                        dd{
                            width: 398px;
                            display: block;
                            height: 256px;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
    }
}

//shoppingmall_list
.shoppingmall_list{
    overflow: hidden;
    height: 50px;
    li{
        float: left;
        width: 234px;
        height: 100px;
        overflow: hidden;
        position: relative;
        margin-right: 8px;
        .shoppingmall_box{
            position: absolute;
            left: 0;
            top: 0;
            width: 234px;
            height: 100px;
            .quicktab{
                .topbox{
                    width: 234px;
                    height: 50px;
                    line-height: 50px;
                    background: #999;
                    text-align: center;
                    font-size: 14px;
                    color: #fff;
                }
                .bottombox{
                    width: 234px;
                    height: 40px;
                    padding: 5px;
                    background: #333;
                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    .border{
                        border: 1px solid #fff;
                        width: 223px;
                        height: 40px;
                        p{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

//goodstitle
.goodstitle{
    img{
        float: left;
    }
    .right_btn{
        float: right;
        overflow: hidden;
        height: 60px;
        line-height: 60px;
        a{
            .icon{
                float: right;
                background: url(../images/icon/share02.png) no-repeat -470px -360px;
                width: 18px;
                height: 60px;
                margin-left: 6px;
            }
            .moretxt{
                float: right;
                font-size: 16px;
            }
        }
    }
}

//goodstitle
.goodstitle{
    height: 60px;
}

//goods
.goods{
    overflow: hidden;
    .goods1{
        float: left;
        width: 220px;
        height: 366px;
        border: 1px solid #ccc;
        padding: 0 9px;
        padding-top: 4px;
        margin-right: 8px;
        .goodslinks{
            overflow: hidden;
            border-bottom: 1px dashed #d4d4d4;
            padding-bottom: 16px;
            li{
                float: left;
                line-height: 36px;
                width: 110px;
                font-size: 14px;
                color: #666;
                text-align: left;
                a:hover{
                    color: #B18148;
                }
            }
        }
        .slider{
            overflow: hidden;
            width: 100%;
            height: 150px;
            margin-top: 14px;
            .bx_wrapper{
                position: relative;
                margin: 0 auto;
                padding: 0;
                .bx_viewport{
                    background: #fff;
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    height: 114px;
                    ul{
                        width: 9999px;
                        position: relative;
                        left: -224px;
                        li{
                            width: 224px;
                            height: 114px;
                            overflow: hidden;
                            float: left;
                            position: relative;
                            img{
                                width: 90px;
                                border: none;
                                margin: 0px 2px 12px 12px;
                                float: left;
                                display: block;
                            }
                        }
                    }
                }
                .bx_controls{
                    a{
                        cursor: pointer;
                        &:hover{
                            background: #c77f40;
                        }
                    }
                    .bx_pager{
                        text-align: center;
                        padding-top: 16px;
                        padding-bottom: 16px;
                        position: absolute;
                        left: 78px;
                        top: 105px;
                        .bx_pager_item{
                            display: inline-block;
                            a{
                                background: #666;
                                display: block;
                                height: 9px;
                                width: 9px;
                                margin: 0 5px;
                                border-radius: 50%;
                            }
                            .active{
                                background: #c77f40;
                            }
                        }
                    }
                    .bx_controls_direction{
                        a{
                            position: absolute;
                            width: 8px;
                            height: 14px;
                            top: 122px;
                        }
                        .bx_prev{
                            left: 70px;
                            background: url(../images/icon/share02.png) no-repeat -239px -384px;
                        }
                        .bx_next{
                            right: 70px;
                            background: url(../images/icon/share02.png) no-repeat -267px -384px;
                        }
                    }
                }
            }
        }
    }
    .goods2{
        float: left;
        width: 390px;
        height: 370px;
        border: 1px solid #ccc;
        overflow: hidden;
        margin-right: 8px;
        position: relative;
        li{
            float: left;
            list-style: none;
            position: relative;
            width: 390px;
            a{
                img{
                    display: block;
                    width: 390px;
                }
            }
        }
        .goods2_label{
            z-index: 9;
            width: 250px;
            height: auto;
            padding-bottom: 5px;
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin-left: -125px;
            background: url(../images/darwin_mask_bgfff.png);
            dl{
                padding-top: 5px;
                dd{
                    text-align: center;
                    font-size: 13px;
                    b{
                        width: 20px;
                        height: 2px;
                        display: block;
                        margin: 5px auto;
                        background-color: #000;
                    }
                }
                dt{
                    text-align: center;
                    font-size: 17px;
                    line-height: 17px;
                    margin-top: 3px;
                }
            }
        }
    }
    .goods3{
        overflow: hidden;
        height: 372px;
        .goods3pic{
            float: left;
            width: 276px;
            height: 189px;
            margin-right: 7px;
            &:nth-of-type(2n){
                margin-right: 0;
            }
            img{
                width: 275px;
                border: 1px solid #ccc;
            }
        }
    }
}

//promotion_box
.promotion_box{
    .promotion1, .promotion2{
        overflow: hidden;
        margin-bottom: 10px;
        .promotion1pic{
            float: left;
            img{
                display: block;
            }
        }
        .pro1pic1{
            width: 610px;
            height: 295px;
        }
        .pro1pic2{
            width: 305px;
            height: 295px;
        }
    }
    .promotion3{
        overflow: hidden;
        .proleft{
            float: left;
            overflow: hidden;
            width: 610px;
            .proleftpic{
                float: left;
                width: 203px;
                height: 73px;
                .proleftpicbox{
                    width: 192px;
                    height: 63px;
                    border: 1px solid #ccc;
                    position: relative;
                    img{
                        display: block;
                    }
                    .topline{
                        position: absolute;
                        top: -1px;
                        left: -1px;
                        width: 0;
                        height: 1px;
                        background: #000;
                    }
                    .rightline{
                        position: absolute;
                        bottom: 0;
                        right: -1px;
                        width: 1px;
                        height: 0;
                        background: #000;
                    }
                    .bottomline{
                        position: absolute;
                        bottom: -1px;
                        right: 0;
                        width: 0;
                        height: 1px;
                        background: #000;
                    }
                    .leftline{
                        position: absolute;
                        left: -1px;
                        top: -1px;
                        width: 1px;
                        height: 0;
                        background: #000;
                    }
                }
            }
        }
    }
    
}
