.head, .mid{
    width: 1210px;
    margin: 0 auto;
}
.clearfloat{
    clear: both;
    height: 0px;
    width: 100%;
}

.head{
    height: 98px;
    .head-center{
        width: 1210px;
        margin: 0 auto;
        font-size: 0;
        a{
            display: inline-block;
            height: 98px;
            width: 244px;
            background-size: 244px 98px;
            background-repeat: no-repeat;
            background-image: url(../images/5luxlogo.jpg);
            vertical-align: middle;
        }
        .head-line{
            display: inline-block;
            width: 2px;
            height: 44px;
            vertical-align: middle;
            background-color: #ccc;
            margin: 0 18px;
        }
        .head-text{
            display: inline-block;
            font-size: 22px;
            color: #999;
            vertical-align: middle;
        }
        .head-right{
            float: right;
            display: table;
            font-size: 0;
            height: 100%;
            div{
                display: block;
                vertical-align: middle;
                height: 98px;
                line-height: 98px;
                i{
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    padding-right: 10px;
                    background-image: url(../images/phone-logo.png);
                    background-size: 19px 19px;
                    background-repeat: no-repeat;
                    vertical-align: middle;
                }
                p{
                    display: inline-block;
                    color: #666;
                    font-size: 13px;
                    vertical-align: middle;
                }
            }
        }
    }
}

.midbg{
    background-color: #262626;
    .mid{
        position: relative;
        width: 1210px;
        height: 584px;
        background-repeat: no-repeat;
        margin: 0 auto;
        background-image: url(../images/login_background1.jpg);
        background-size: 100% 584px;
        .mid-right{
            width: 400px;
            height: 476px;
            float: right;
            margin-top: 30px;
            margin-right: 40px;
            background: #FFFFFF;
            .mid-right-title{
                margin: 0 20px;
                margin-top: 34px;
                font-size: 20px;
                line-height: 20px;
                height: 20px;
                color: #999;
                p{
                    display: block;
                    font-size: 20px;
                    line-height: 20px;
                    font-weight: 400;
                    text-align: center;
                    cursor: pointer;
                    color: #000;
                }
            }
            .mid-right-body{
                height: 380px;
                .mid-right-login{
                    form{
                        padding-top: 20px;
                        input{
                            display: block;
                            margin: 0 31px;
                            margin-top: 16px;
                            width: 296px;
                            height: 48px;
                            border: 1px solid #CCC;
                            padding: 0 20px;
                            font-size: 14px;
                        }
                        .error-tip{
                            width: 338px;
                            margin: 0 31px;
                            height: 54px;
                            .error-tip-wp{
                                font-size: 0;
                                display: inline-block;
                                color: #f62b0f;
                                height: 14px;
                                line-height: 14px;
                                margin: 20px 0;
                                p{
                                    height: 14px;
                                    line-height: 14px;
                                    font-size: 14px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-left: 5px;
                                }
                                .correct{
                                    color: green;
                                }
                            }
                        }
                        .submit{
                            width: 338px;
                            height: 50px;
                            line-height: 50px;
                            text-align: center;
                            color: #fff;
                            background: #333;
                            margin: 0 31px;
                            font-size: 18px;
                            border: none;
                            cursor: pointer;
                        }
                    }
                }
            }
            
        }
    }
}
